body {
    background-color: #023264;
    margin:0 auto;
}
#thermometer .goal {
    position: absolute;
    right: 0;
    top: 0;
}
#thermometer .amount {
    border-top: 1px solid #d32323;
    color: black;
    display: inline-block;
    font-family: Trebuchet MS;
    font-weight: bold;
    padding: 0 75px 0 0;
}
#thermometer .progress .amount {
    border-top: 1px solid #d32323;
    color: #006600;
    left: 0;
    padding: 0 0 0 75px;
    position: absolute;
}
#thermometer {
    border-radius: 12px;
    height: 300px;
    margin-top:20px;
    position: relative;
}
#thermometer .track {
    background: #e5e5e5 none repeat scroll 0 0;
    border-radius: 8px;
    height: 280px;
    left: 10px;
    margin: 0 auto;
    position: relative;
    top: 10px;
    width: 30px;
}
#thermometer .progress {
    background: #d32323 none repeat scroll 0 0;
    border-radius: 23px 23px 0 0;
    bottom: 0;
    height: 0;
    left: 5px;
    margin-bottom: 0 !important;
    position: absolute;
    width: 69%;
    z-index: 100;
}
#thermometer .goal {
    position: absolute;
    right: 0;
    top: 0;
}
#thermometer .amount {
    border-top: 1px solid #d32323;
    color: white;
    display: inline-block;
    font-family: Trebuchet MS;
    font-weight: bold;
    padding: 0 75px 0 0;
}
#thermometer .progress .amount {
    border-top: 1px solid #d32323;
    color: #d32323;
    left: 0;
    padding: 0 0 0 75px;
    position: absolute;
}
.bulb {
    background: #e5e5e5 none repeat scroll 0 0;
    border-radius: 50%;
    bottom: -42px;
    display: block;
    height: 40px;
    left: -14px;
    padding: 10px;
    position: absolute;
    width: 43px;
}
.inner-bulb {
    background-color: #d32323;
    border-radius: 50%;
    height: 40px;
    left: 0;
    position: relative;
    top: 0;
    width: 40px;
}

/*-----------------------------*/

h1 {
  font-family: Franklin Gothic;
  color: white;
  font-size: 50px;
}

span {
  font-family: Franklin Gothic;
  color: white;
  font-size: 20px;
}

.secOne {
  margin: auto;
  margin-top: -20px;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.secTwo {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  margin-top: -35px;
}

.secThree {
  margin: auto;
  width: 50%;
  padding: 45px;
  text-align: center;
}

.secFour {
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: -34px;
}

.pic {
 width: 50%;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30;
}
